<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blog.dao.mapper.TagMapper">

    <resultMap id="tagMap" type="com.blog.dao.pojo.Tag">
        <id column="id" property="id" />
        <result column="avatar" property="avatar"/>
        <result column="tag_name" property="tagName"/>
    </resultMap>

    <!-- List<Tag> findTagsByArticleId(Long articleId);-->
    <select id="findTagsByArticleId" parameterType="long" resultMap="tagMap">
        select id,avatar,tag_name from  ms_tag
        where id in (select tag_id from ms_article_tag where article_id=#{articleId})
    </select>

    <!-- List<Long> findHotsTagIds(int limit);-->
    <select id="findHotsTags"  parameterType="int" resultMap="tagMap">
        select ms_article_tag.tag_id as id, tag_name from ms_article_tag
        join ms_tag on ms_tag.id = ms_article_tag.tag_id
        GROUP BY id ORDER BY count(*) desc limit #{limit}
    </select>

</mapper>